:root {
    --bg: #f4f9f4;
    --text: #071313;
    --primary: #7e57c2;
    --secondary: #8170e2;
    --accent: #826bd8;
    --nav-bg: #dcedc1;
    --hovbg:rgb(147, 149, 191);
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    transition: all 0.3s ease;
}

marquee{
    background-color: var(--secondary);
    font-size: 24px;
    padding: 12px 0;
    font-weight: bold;
    color: var(--bg);
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    background-color: var(--accent);
    padding: 10px;
    font-style: inherit;
    gap: 15px;
}

nav a {
    color: var(--text);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 20px;
}

nav a:hover {
    background-color: var(--hovbg);
}

fieldset{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid var(--primary);
    border-radius: 35px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

legend{
    font-family:cursive;
    font-weight: bold;
    color: var(--primary);
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

input[type="text"]{
     padding: 10px;
    border: 2px solid var(--primary);
    border-radius: 5px;
}

.btn-hvr{
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-hvr:hover{
    background-color: var(--hovbg);
    transform: scale(1.05);
}


.table{
    margin: 40px auto;
    padding: 10px;
    
}